<app-navbar></app-navbar>
<div class="container mt-5">
  <h2>Gestion de tiendas</h2>
  
  <button class="btn btn-primary mt-3 m-2" (click)="openModalRegister()" data-bs-target="#registerStoreModal"  data-bs-toggle="modal">Agregar tienda</button>

  <table class="table">
  <thead>
    <tr>
      <th>Sucursal</th>
      <th>Dirección</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let store of storeList">
      <td>{{ store.storeBranch }}</td>
      <td>{{ store.storeAddress }}</td>
      <td> 
        <button class="btn btn-sm btn-primary m-2" (click)="openUpdateModal(store)" data-bs-target="#registerStoreModal"  data-bs-toggle="modal">Editar</button>
        <button class="btn btn-sm btn-danger m-2" (click)="deleteRegister(store)" data-bs-target="#registerDeleteModal"  data-bs-toggle="modal">Eliminar</button>
        </td>
      <td ></td>
    </tr>
  </tbody>
</table>


</div>

<!-- Modal for registration or update store -->
 <div class="modal fade" id="registerStoreModal" tabindex="-1" aria-labelledby="registerStoreModalLabel" aria-hidden="true"> 
  <div class="modal-dialog"> 
    <div class="modal-content"> 
      <div class="modal-header"> 
        <h5 class="modal-title" id="registerStoreModalLabel">Registrar nueva tienda</h5>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button> 
        </div> <div class="modal-body"> <form (ngSubmit)="registerStore()"> 
          <div class="mb-3"> 
            <label for="storeBranch" class="form-label">Sucursal</label> 
            <input type="text" id="storeBranch" [(ngModel)]="newStore.storeBranch" name="storeBranch" class="form-control" autocomplete="off" required> 
          </div> 
           <div class="mb-3"> 
            <label for="storeAddress" class="form-label">Dirección</label>
             <input type="text" id="storeAddress" [(ngModel)]="newStore.storeAddress" name="storeAddress" class="form-control" autocomplete="off" required> 
          </div> 
          <button type="submit" class="btn btn-primary">Registrar</button> 
        </form> 
      </div> 
    </div> 
  </div> 
</div>

<!-- Modal for confirmation delete -->
 <div class="modal fade" id="registerDeleteModal" tabindex="-1" aria-labelledby="registerDeleteModalLabel" aria-hidden="true"> 
  <div class="modal-dialog"> 
    <div class="modal-content"> 
      <div class="modal-header"> 
        <h5 class="modal-title" id="registerDeleteModalLabel">¿Estás seguro de eliminar este registro?</h5>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button> 
        </div> <div class="modal-body"> 
          <form (ngSubmit)="registerDelete()"> 
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancelar</button> 
          <button type="submit" class="btn btn-danger">Eliminar</button> 
        </form> 
      </div> 
    </div> 
  </div> 
</div>
